<h2>Adding product</h2>
<form method="post">
  Id: <input type="text" name="id"/>
  <br/>
  Name: <input type="text" name="name"/>
  <br/>
  Price: <input type="text" name="price"/>
  <br/>
  <input type="submit" name="submit" value="Add" />
</form>

